name: Docker
on:
  workflow_call:
    inputs:
      push:
        required: true
        type: boolean
  workflow_dispatch:
    inputs:
      push:
        required: true
        type: boolean
        default: true

permissions:
  contents: read
  packages: write

env:
  IMAGE_AUTHOR: mentalfs
  IMAGE_NAME: irc3-twitch

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete older image versions
        if: ${{ inputs.push }}
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ env.IMAGE_NAME }}
          package-type: container
          delete-only-untagged-versions: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ env.IMAGE_AUTHOR }}/${{ env.IMAGE_NAME }}

      - name: Build Docker image and push it
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ghcr.io/${{ env.IMAGE_AUTHOR }}/${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.meta.outputs.labels }}
          provenance: false
          push: ${{ inputs.push }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
